/* General */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

* {
  font-family: "Playfair Display", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
}

h2,
h3,
h4,
h5,
h6 {
  color: Teal;
}

h1 {
  color: Teal;
}

article + article {
  margin-top: 50px;
}

/* Links */

a:link {
  color: Teal;
}

a:visited {
  color: OrangeRed;
}

a:hover {
  color: OrangeRed;
}

a:active {
  background-color: DarkSlateGray;
}

/* Specific */

.main-style {
  padding: 20px;
}

/* border lines verschieben? */

main article {
  border-bottom: 2px solid #deb8b8c7;
}

/* header */

.header-style {
  padding: 48px 16px;
  text-align: center;
  background-color: #deb8b8c7;
}

/* Links im Header weiter auseinandern */

header > a {
  margin: 20px;
}
