/* General */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

* {
  font-family: "Helvetica", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
}

/* Specific */

.header-style {
padding: 48px 16px;
text-align: center;
background-color: LightSalmon;
}

.main-style {
    padding: 22px; 
    }